@page "/registration"
@using Resursko.Domain.DTOs.Account
@inject NavigationManager NavManager;


@if (ShowRegistrationErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}

<section style="width:600px; margin: 0 auto;">
    <EditForm Model="_registrationRequest" OnValidSubmit="Register">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudTextField Label="First Name" @bind-Value="_registrationRequest.FirstName"
                              For="@(() => _registrationRequest.FirstName)" />

                <MudTextField Label="last Name" @bind-Value="_registrationRequest.LastName"
                              For="@(() => _registrationRequest.LastName)" />

                <MudTextField Label="Username" @bind-Value="_registrationRequest.Username"
                              For="@(() => _registrationRequest.Username)" />

                <MudTextField Label="Email" @bind-Value="_registrationRequest.Email"
                              For="@(() => _registrationRequest.Email)" />

                <MudTextField Label="Password" @bind-Value="_registrationRequest.Password"
                              For="@(() => _registrationRequest.Password)" />
                
                <MudTextField Label="Confirm Password" @bind-Value="_registrationRequest.ConfirmPassword"
                              For="@(() => _registrationRequest.ConfirmPassword)" />
            </MudCardContent>
            <MudCardActions>
                <MudButton Disabled="@_processing" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">
                    @if (_processing)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Processing</MudText>
                    }
                    else
                    {
                        <MudText Class="ms-2">Register</MudText>
                    }
                </MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</section>

@code {
    private AccountRegistrationRequest _registrationRequest = new();
    public bool ShowRegistrationErrors { get; set; }
    public IEnumerable<string> Errors { get; set; }
    private bool _processing = false;

    public async Task Register()
    {
        ShowRegistrationErrors = false;
        _processing = true;
        var result = await AccountService.Register(_registrationRequest);
        if (!result.IsSuccessful)
        {
            Errors = result.Errors!;
            ShowRegistrationErrors = true;
        }
        else
        {
            NavManager.NavigateTo("/login");
        }
    }
}
